/*=========================================
SIWA
Sistem Informasi Wisata Indonesia
Sprint 2 - CSS
Versi: 1.3.0
Episode 13: Menghubungkan CSS
=========================================*/

/*=========================================
RESET CSS
=========================================*/

/*=========================================
TYPOGRAPHY & BASE
=========================================*/
body {
    /* Menghapus celah bawaan browser */
    margin: 0 ;
    padding: 0;
    /* Tipografi & Fallback Stack */
    font-family: Arial, Arial, Helvetica, sans-serif, sans-serif;
    /* Warna Latar & Teks (Ergonomis/UX Friendly) */
    background-color: #083358;
    color: #333333;
}
/*=========================================
HEADER
=========================================*/
.header {
    background-color: #0F4C81;
    padding: 30px 20px;
    text-align: center;
}
.logo {
    width: 80px;
    height: auto;
}
.site-title {
    font-size: 28px;
    margin: 10px 0;
    color: #FFFFFF;
}
.site-tagline {
    font-size: 18px;
    margin: 10px 0;
    color: #DDF7FF;
}
/*=========================================
NAVIGATION
=========================================*/
.navbar {
    background-color: #071A2B;
    padding: 15px 20px;
}
.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 30px;
}
.nav-item {
    display: inline-block;
}
.nav-link {
    color: #F4F8FC;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: 0.3s;
}
.nav-link:hover {
    color: #38BDF8;
}
/*=========================================
HERO SECTION
=========================================*/
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    padding: 60px 8%;
    background-color: #79EBFF;
}
.hero-content {
    flex: 1;
}
.hero-image {
    flex: 1;
}
.hero-img {
    width: 100%;
    height: auto;
    border-radius: 13px;
}
.hero-title {
    font-size: 44px;
    margin-bottom: 20px;
    color: #0F4C81;
}
.hero-description {
    font-size: 18px;
    margin-bottom: 25px;
    line-height: 1.6;
    color: #083358;
}
.hero-button {
    display: inline-block;
    padding: 13px 28px;
    border: none;
    border-radius: 8px;
    background-color: #0F4C81;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}
.hero-button:hover {
    background-color: #071A2B;
    transform: rotate(-3deg);
}
/*=========================================
DESTINASI WISATA
=========================================*/
.destinations {
    padding: 60px 8%;
    background-color: #F4F8FC;
}
.destinations-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.destinations-card {
    background-color: #FFFFFF;
    padding: 20px;
    text-align: center;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(7, 26, 43, 0.12);
    transition: 0.3s;
}
.destinations-card:hover {
    transform: translateY(-7px);
    box-shadow: 0 10px 25px rgba(15, 76, 129, 0.25);
}
.destinations-image {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
}
.destinations-title {
    font-size: 22px;
    margin: 16px 20px 8px;
    color: #0F4C81;
}
.destinations-text {
    font-size: 15px;
    line-height: 1.5;
    margin: 0 20px 16px;
    color: #64748B;
}
.btn-detail {
    display: inline-block;
    margin: 0 20px 20px;
    padding: 10px 20px;
    background-color: #0F4C81;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
    transition: 0.3s;
}
.btn-detail:hover {
    background-color: #071A2B;
    transform: translateY(-3px);
}
/*=========================================
MEDIA WISATA
=========================================*/
.media {
    padding: 60px 8%;
    background-color:  #f5f7fa;
}
.media-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.media-audio,
.media-video,
.media-map {
    background-color: #0D2942;
    padding: 25px;
    border-radius: 13px;
    border: 1px solid #1E4566;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.media-audio h3,
.media-video h3,
.media-map h3 {
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 20px;
}
.audio-player {
    width: 100%;
}
.video-player {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.map-frame {
    width: 100%;
    height: 350px;
    border: none;
    border-radius: 10px;
}
/*=========================================
CONTACT
=========================================*/

.contact {
    padding: 60px 8%;
    background-color: #F4F8FC;
}
.contac-conntent {
    display: grid;
    justify-content: center;
    align-items: stretch;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 40px;
}
.contact-addres,
.contact-WhatsApp,
.contact-phone,
.contact-email,
.contact-hours {
    flex: 1;
    margin: 0;
    padding: 25px;
    background-color: #f5f7fa;;
    border-radius: 12px;
    text-align: center;

    line-height: 1.6;
    box-shadow: 0 4px 12px rgba(7, 26, 43, 0.10);
    transition: 0.3s;
}
/* Efek saat kartu disentuh */
.contact-addres:hover,
.contact-WhatsApp:hover,
.contact-phone:hover,
.contact-email:hover,
.contact-hours:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(15, 76, 129, 0.20);
}
/* Link kontak */
.contact-WhatsApp a,
.contact-phone a,
.contact-email a {
    color: #0F4C81;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}
/* Saat link disentuh */
.contact-WhatsApp a:hover,
.contact-phone a:hover,
.contact-email a:hover {
    color: #38BDF8;
    text-decoration: underline;
}
/*=========================================
INFORMASI WISATA (TABLE)
=========================================*/

/*=========================================
INFORMASI TAMBAHAN (LIST)
=========================================*/

/*=========================================
FORM PEMESANAN
=========================================*/

/*=========================================
FOOTER
=========================================*/